$base-height: 100px;
$icon-color-1: rgb(37, 157, 174);
$icon-color-2: rgb(92, 237, 254);
$background: rgb(66, 54, 66);
$top-shadow: rgba(44, 213, 232, 0.4);
$bottom-shadow: rgba(183, 109, 206, 0.2);
$bottom-shadow2: rgb(10, 7, 10);
$button-border: rgb(61, 58, 65);
$top-inner-shadow: rgba(139, 83, 254, 0.3);
$bottom-inner-shadow: rgba(33, 188, 208, 0.3);
$error: rgba(253, 67, 138, 0.4);
$error-1: rgb(253, 67, 138);
$error-3: rgb(153, 54, 92);
$error-2: rgba(255, 129, 177, 0.4);
