@import "../@style/variables.scss";
.bio {
  margin-top: 45px;
  margin-bottom: 0px;
  max-width: 500px;
}
.scroll-track {
  display: inline-block;
  width: 0px;
  top: 0px;
  left: 0px;
  z-index: -5;

  border-radius: 2px;
  box-shadow: inset 2px 0px 2px 0px rgba(0, 0, 0, 0.4),
    inset -2px 0px 2px 0px rgba(255, 255, 255, 0.1);
  position: absolute;
  right: 10px;
}
.scroll-track .bullet {
  border-radius: 1.5px;
  margin-right: 0.5px;
  margin-left: 0.5px;
  width: 3px;
  background-image: radial-gradient($icon-color-2, $icon-color-1);
  height: 14px;
}
.section {
  padding-left: calc(50% - 300px);
}
.logo-container {
  display: inline-block;
  margin: 30px;
}
.logo {
  max-width: 200px;
  max-height: 80px;
  margin-left: auto;
  margin-right: auto;
  filter: grayscale(100%) opacity(100%);
  mix-blend-mode: soft-light;
}
.offer.icon {
  font-size: 60px;
  color: rgb(66, 64, 69);
}
.offer-icon-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-top: 28px;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background: rgba(255, 255, 255, 0.2);
}
.info {
  margin: 15px 0px;
  display: block;
  color: white;
  text-decoration: none;
}
.info .icon {
  display: inline-block;
  width: 22px;
  margin-right: 15px;
  color: white;
  opacity: 0.4;
  font-size: $base-height/5;
}
.info2 .icon {
  display: inline-block;
  width: 22px;
  margin-right: 15px;
  color: white;
  opacity: 0.4;
  font-size: $base-height/3;
}
.icon {
  transition-property: color, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}
.info span {
  opacity: 0.4;
  transition-property: color, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}
.button:hover + .button-label,
.button:focus + .button-label,
.button.focus + .button-label {
  opacity: 0.9;
  color: $icon-color-2;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(92, 237, 254, 0.6));
  filter: drop-shadow(0px 0px 10px rgba(92, 237, 254, 0.4));
}
.info:hover .icon {
  opacity: 1;
  color: $icon-color-2;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(92, 237, 254, 0.6));
  filter: drop-shadow(0px 0px 10px rgba(92, 237, 254, 0.4));
}
.info:hover span {
  opacity: 1;
  color: $icon-color-2;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(92, 237, 254, 0.6));
  filter: drop-shadow(0px 0px 10px rgba(92, 237, 254, 0.4));
}

.info2:hover .icon {
  opacity: 1;
  color: $icon-color-2;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(92, 237, 254, 0.6));
  filter: drop-shadow(0px 0px 10px rgba(92, 237, 254, 0.4));
}
.info2:hover span {
  opacity: 1;
  color: $icon-color-2;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(92, 237, 254, 0.6));
  filter: drop-shadow(0px 0px 10px rgba(92, 237, 254, 0.4));
}
