<!-- <div class="main"></div> -->
<div
  id="parent-div"
  (scroll)="scrollHandler($event)"
  scrollSpy
  (sectionChange)="app.onSectionChange($event)"
  style="
    position: relative;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
  "
>
  <div class="container">
    <app-home></app-home>
    <!-- <app-navbar></app-navbar> -->
    <app-project></app-project>
    <app-about></app-about>
  </div>
  <!-- <div class="scroll-track">
    <div class="progress" [ngStyle]="{ height: scrollProgress }"></div>
  </div>
  <div class="scroll-track-2">
    <div class="scroll-thumb" [ngStyle]="{ top: scrollProgressThumb }">
      <div style="text-align: center">
        <div class="border-inverted-x-4" style="width: 16px"></div>
        <div class="border-inverted-x-4" style="width: 16px"></div>
        <div class="border-inverted-x-4" style="width: 16px"></div>
      </div>
    </div>
  </div> -->
</div>
