<div id="home" class="white-text">
  <div
    style="
      height: calc(100vh);
      padding-top: calc(50vh - 180px);
      text-align: center;
    "
  >
    <h1 class="opacity-mid" style="font-size: 2em">Prateek Roy</h1>

    <h3 class="opacity-mid">Creating beautiful web experience</h3>
    <div class="mt-5">
      <button class="button x10" (click)="scrollWork()">
        <i class="fa fa-caret-down icon"></i>
      </button>
      <label class="button-label mt-4" style="display: block"
        ><h3>VIEW</h3></label
      >
      <!-- <div class="d-flex justify-content-around mt-5">
        <div
          class="border-x-4 d-flex justify-content-around"
          style="width: 300px"
        ></div>
      </div> -->
    </div>
  </div>
</div>
